<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>PictFight</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  </head>
  <body>
    <h1><a href='/'>PictFight</a></h1>
    <div id="userDate">
      <span id="userName">None</span>様
      <span id="win">None</span>勝
      <span id="lose">None</span>負
    </div>
