<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>PictFight</title>
    <meta name="keywords" content="pictfight,よしお,">
    <meta name="description" content="onlineでチャット＆対戦">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href='/'>PictFight</a></h1>
