<% include header %>

<div id="field">
  <img src="/images/man.png" id="p1">
  <img src="/images/woman.png" id="p2">
</div>

<div id='chatField'>
  <ul id='chats'>
    <li>test</li>
  </ul>
  <form id='kaiwa'>
    <input type='text'>
    <input type='submit' value='é€ä¿¡'>
  </form>
</div>
  <script src='//code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src='../javascripts/room.js'></script>
  </body>
  </html>
