<% include header %>
<h1>hello world</h2>


  <script src='//code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src='../javascripts/room.js'></script>
  </body>
  </html>
