<% include header %>
<h2>PictFightへようこそ！</h2>
<ul class='room'>
</ul>
<div id='dialog' style='display:none'>
</div>
<script src='//code.jquery.com/jquery-2.2.4.min.js'></script>
<script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src='../javascripts/loginForm.js'></script>
</body>
</html>
